{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <title>Kesh Med</title>
    <!-- <link rel="shortcut icon" href="/logos/logo.png" type="image/x-icon"> -->
    <!-- <link rel="stylesheet" href="/mdi/css/materialdesignicons.min.css"> -->
    <link rel="stylesheet" href="{% static '/fonts/stylesheet.css' %}">
    <!-- <link rel="stylesheet" href="/chess/css/chessmerida-webfont.css"> -->
    <style>
      @font-face {
        font-family: 'Open Sans';
        src: url('/mdi/OpenSans-Regular.ttf');
      }
    </style>
    <script type="module" crossorigin src="{% static '/assets/index-39465c73.js' %}"></script>
    <link rel="stylesheet" href="{% static '/assets/index-ccab2e0e.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@3.6.95/css/materialdesignicons.min.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>


